/********************filter*********************/
/*propiedad para añadir filtros*/
.filter{
	width: 300px;
	/*distorciona la nitidez*/
	filter: blur(1px);
}

.filter:hover{
	filter: none;
}

.brightness{
	width: 300px;
	/*distorciona la luminosidad hasta volverlo 
	oscuro o blanco*/
	filter: brightness(.5); 
}

.brightness:hover{
	filter:none;
}
.contraste{
	width: 300px;
	/*distorciona el contraste*/
	filter: opacity(.5);/*saturate, sepia, grayscale, invert, contrast*/
}

.contraste:hover{
	filter:none;
}

.shadow{
	width: 300px;
	/*proporciona sombras
	spread=propagacion 0px= sombra con bordes definidos */
	filter: drop-shadow(10px 10px 10px black);
	/*h-shadow v-shadow blur spread color */
}

.shadow:hover{
	filter:none;
}

.circle{
	width: 300px;
	/*proporciona  filtros de colores 0deg = sin filtro*/
	filter: hue-rotate(40deg);
}

.circle:hover{
	filter: none;
}








