/****************degradados****************/
.degradados1{
	display: inline-block;

	margin: 30px;
	padding: 15px 70px;	
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;
	
	/*añade un degradado lineal en el eje y*/
	background-image: linear-gradient(red, blue);	
}

.degradados1:hover{
	background-image:linear-gradient(blue, red);
}



.degradados2{
	display: inline-block;

	margin: 30px;
	padding: 15px 70px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;

	/*puede haber cuaquier cantidad de colores a ser aplicados*/
	background-image: linear-gradient(white, black, white);
}

.degradados2:hover{
	background-image:linear-gradient(black,white,black);
	color: black;
}



.degradados3{
	display: inline-block;

	
	margin: 30px;
	padding: 15px 70px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;

	/*personalizacion de degradado y su eje*/
	background-image: linear-gradient(to top left, white, black, white); 	
}

.degradados3:hover{
	background-image:linear-gradient(to bottom right, black,white,black);
	color: black;
}



.degradados4{
	display: inline-block;

	margin: 30px;
	padding: 15px 70px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;

	/*personalizacion de degradado y su eje*/
	background-image: linear-gradient(90deg, white, black, white);	
}

.degradados4:hover{
	background-image:linear-gradient(90deg, black,white,black);
	color: black;
}



.degradados5{
	width: 100px;
	height: 100px;

	margin: 30px;
	padding: 100px 100px;
	border: 1px solid black;
	border-radius: 30px;
	
	color: white;
	text-align: center;
	text-decoration: none;


	/*personalizacion de degradado con bordes definidos*/
	background-image: linear-gradient(brown 50%, black 50%); 	
}

.degradados5:hover{
	background-image:linear-gradient(black 50%,brown 50%);
	color: black;
}



.degradados6{
	width: 100px;
	height: 100px;

	margin: 30px;
	padding: 100px 100px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;

	/*genera un radio y añade un degradado desde el origen*/
	background-image: radial-gradient(brown, black);
}
.degradados6:hover{
	background-image:radial-gradient(black, brown);
	color: black;
}



.degradados7{
	display: inline-block;

	margin: 30px;
	padding: 15px 70px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;
	
	/*degradado radial-gradient en botton*/
	background-image: radial-gradient(brown, black);	
}

.degradados7:hover{
	background-image:radial-gradient(black, brown);
}



.degradados8{
	display: inline-block;

	margin: 30px;
	padding: 15px 70px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;

	/*degradado personalizado radial-gradient en botton*/
	background-image: radial-gradient(circle 70px, brown, black); 	
}

.degradados8:hover{
	background-image:radial-gradient(circle 70px,black, brown);
}



.degradados9{
	width: 100px;
	height: 100px;
	
	margin: 30px;
	padding: 100px 100px;
	border: 1px solid black;
	border-radius: 30px;

	color: white;
	text-align: center;
	text-decoration: none;

	/*degradado personalizado radial-gradient*/
	background-image: radial-gradient(circle 100px at top, black 50%, brown 50%); 	
}

